@import 'init';
@import 'layout';
@import 'cards';



.period-card:hover, 
.event-card:hover {
    box-shadow: 3px 3px 3px #cccccc;
}

.navbar .menu-icon:hover {
    color: #000;
    background-color: #fff;
}

::selection {
    background-color: #cccccc;
}

#notification {
    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    font-weight: var(--font-heavy);
    font-size: 1.1rem;
    letter-spacing: .02rem;
    border: 1px solid black;
    width: 70%;
    max-width: 50rem;
    text-align: center;
    background-color: #fff;
    z-index: 5;
    padding: .4rem 0;
    opacity: 0;

    i {
       position: absolute;
       left: 1rem;
       top: 50%;
       transform: translateY(-50%); 
       font-size: 1.3rem;
    //    opacity: inherit;
    }
}

