@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@200;300;400&display=swap");
:root {
  --font-light: 300;
  --font-heavy: 400;
  --card-big-dim: 14em;
  --card-small-dim: 8.3em;
  --legacy-card-size: 6em;
  --periods-gap: 1.5em;
  font-size: 16px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Catamaran', Arial, sans-serif;
  font-weight: var(--font-light);
}

.navbar {
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: .5rem 6%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  min-height: 4vh;
}

.navbar h1 {
  letter-spacing: .15rem;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15%;
  max-width: 8rem;
  list-style: none;
}

.navbar ul .menu-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1.9rem;
  height: 1.9rem;
  border: 1px solid #fff;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: .9rem;
}

.app-container {
  padding-bottom: 4rem;
}

.top-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem 6% 4rem calc(6% + var(--card-big-dim) / 2 - var(--card-small-dim) / 2);
  gap: 2rem;
}

.legacy-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 55vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.legacy-container h2 {
  font-size: 1rem;
}

.legacy-container .legacy-card {
  border: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: var(--legacy-card-size);
  height: var(--legacy-card-size);
  padding: .7rem .9rem;
}

.legacy-container .legacy-card .description {
  font-size: .75rem;
}

.legacy-container .legacy-card .creator-name {
  font-size: .6rem;
}

.legacy-container .legacy-card textarea {
  width: 100%;
  resize: none;
  overflow: hidden;
  text-align: center;
}

.lens-indicator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #000;
  font-size: .8rem;
  font-weight: var(--font-heavy);
  letter-spacing: .04rem;
  padding: .1rem .8rem;
  position: relative;
  min-width: 12rem;
  height: 2rem;
}

.lens-indicator .icon-border {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 1px solid #000;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
}

.periods-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: var(--periods-gap);
  padding: 0 6%;
}

.period {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: var(--card-big-dim);
  gap: 2rem;
}

.event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .8rem;
}

.card {
  border: 1px solid #000;
  padding: 2rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card textarea {
  width: 100%;
  resize: none;
  overflow: hidden;
  text-align: center;
  font-size: inherit;
}

.tone {
  display: inline-block;
  border: 1px solid #000;
  border-radius: 50%;
}

.tone-dark {
  background-color: #000;
}

.tone-light {
  background-color: inherit;
}

.period-card {
  width: var(--card-small-dim);
  height: var(--card-big-dim);
}

.period-card .name-outer {
  height: 65%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.period-card .name {
  display: inline-block;
  font-size: 1rem;
  font-weight: var(--font-heavy);
  text-align: center;
  overflow-wrap: break-word;
}

.period-card .tone {
  width: 2.2rem;
  height: 2.2rem;
}

.event-card {
  width: var(--card-big-dim);
  height: var(--card-small-dim);
}

.event-card .description {
  font-size: .9rem;
  font-weight: var(--font-heavy);
  text-align: center;
}

.event-card .tone {
  width: 2rem;
  height: 2rem;
}

.scene-card {
  width: var(--card-small-dim);
  height: var(--card-big-dim);
  position: relative;
}

.scene-card p {
  font-size: .7rem;
  text-align: center;
  font-weight: var(--font-heavy);
  line-height: .9rem;
}

.scene-card hr {
  width: 100%;
  background-color: #000;
}

.scene-card .tone {
  width: .9rem;
  height: .9rem;
  position: absolute;
  bottom: .3rem;
  right: .3rem;
}

.lens-indicator:hover {
  background-color: #f7f7f7;
  cursor: default;
}

.period-card:hover,
.event-card:hover {
  -webkit-box-shadow: 3px 3px 3px #cccccc;
          box-shadow: 3px 3px 3px #cccccc;
}

.navbar .menu-icon:hover {
  color: #000;
  background-color: #fff;
}

::-moz-selection {
  background-color: #cccccc;
}

::selection {
  background-color: #cccccc;
}

#notification {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-weight: var(--font-heavy);
  font-size: 1.1rem;
  letter-spacing: .02rem;
  border: 1px solid black;
  width: 70%;
  max-width: 50rem;
  text-align: center;
  background-color: #fff;
  z-index: 5;
  padding: .4rem 0;
  opacity: 0;
}

#notification i {
  position: absolute;
  left: 1rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.3rem;
}
/*# sourceMappingURL=style.css.map */