@import './base.scss';

.navbar {
    position: relative;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    padding: .5rem 6%;
    align-items: center;
    color: #fff;
    min-height: 4vh;
    z-index: 950;
    
    h1 {
        letter-spacing: .15rem;
        user-select: none;
        cursor: default;
    }
}

h2 {
    display: block;
    font-size: 4rem;
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 8vh;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .7rem;
    font-size: 1.5rem;
    margin-bottom: 10vh;
}

input[type="text"] {
    font-size: 1.2rem;
    text-align: center;
    padding: .3rem 0;
}

.bottom-container {
    // background-color: lightskyblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25vh;
    width: 100%;
    max-width: 80rem;
    margin: auto;

    // svg {
    //     flex: 1;
    // }

    & > div {
        // background-color: lime;
        flex: 1;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        gap: .5rem;

        &:nth-of-type(2){
            gap: .8rem;
            p {
                font-size: 1.5rem;
            }
        }


        h3 {
            font-size: 2rem;
            margin-bottom: 1rem;
        }

        input[type="submit"] {
            background-color: #fff;
            border: 1px solid black;
            font-size: 1.5rem;
            padding: 0 1rem;
        }

        #fakeinput {
            background-color: #fff;
            border: 1px solid black;
            font-size: 1rem;
            padding: 0 1rem;
            margin-right: .7rem;
        }

        input[type="submit"]:hover, #fakeinput:hover {
            background-color: var(--hover-color);
        }
        border-left: 1px solid black;
        border-right: 1px solid black;
    }

    & > div:nth-of-type(1) {
        border-left: none;
    }
    & > div:nth-of-type(3) {
        border-right: none;
    }
}

#roomcode-container {
    position: relative;
    text-align: center;    
    bottom: 1rem;
}


#notification {
    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    font-weight: var(--font-heavy);
    font-size: 1.1rem;
    letter-spacing: .02rem;
    border: 1px solid black;
    width: 70%;
    max-width: 50rem;
    text-align: center;
    background-color: #fff;
    z-index: 5;
    padding: .4rem 0;
    opacity: 0;
    display: none; }
    #notification i {
      position: absolute;
      left: 1rem;
      top: 50%;
      transform: translateY(-50%);
      font-size: 1.3rem; }
  