:root {
    overflow: hidden;
}

.navbar {
    position: relative;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    padding: .5rem 6%;
    align-items: center;
    color: #fff;
    min-height: 4vh;
    z-index: 950;
    
    h1 {
        letter-spacing: .15rem;
        user-select: none;
        cursor: default;
    }

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        gap: .8rem;

        .menu-icon {
            // Circle the icons
            display: flex;
            width: 1.9rem;
            height: 1.9rem;
            border: 1px solid #fff;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
            font-size: .9rem;
        }
    }
}

#menu {
    display: flex;
    background-color: #000;
    bottom: 0;
    right: 0;
    transform: translateX(100%);
    position: absolute;
    min-width: 20rem;
    width: 20%;
    height: 95vh;
    z-index: 900;
    padding: 2rem 0;
}

.menu-tab {
    color: #fff;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    display: none;
    padding: 0 2rem;

    h3 {
        font-size: 3rem;
    }

    h4 {
        font-size: 2.5rem;
    }
}

#players-menu {
    display: none;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 1rem;

    .lens-name-icon {
        // background-color: lightcoral;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        width: 100%;      
        font-size: 1.5rem;  
        cursor: default;

        .icon-border {
            display: inline-flex;
            border: 1px solid #fff;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            width: 2.2rem;
            height: 2.2rem;
        }
    }
}

#palette-menu {
    textarea {
        &:first-of-type {
            margin-bottom: 1rem;
        }

        resize: none;
        flex: 1;
        border: none;
        padding: .2rem .5rem;
    }
}

.app-container {
    padding-bottom: 4rem;
    height: 94vh;
    overflow: scroll;
    cursor: auto;
    scrollbar-width: none;
}

.dragged {
    cursor: grab;
    user-select: none;
}

.top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 6% 4rem 6%; // calc(6% + var(--card-big-dim) / 2 - var(--card-small-dim) / 2);
    gap: 2rem;
}

.legacy-container {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    flex: 1;

    h2 {
        font-size: 1rem;
    }
}

.legacy-card {
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: var(--legacy-card-size);
    height: var(--legacy-card-size);
    padding: .7rem .9rem;

    .legacy {
        font-size: .75rem;
    }

    .creator {
        font-size: .6rem;
        padding: 0 .2rem;
        cursor: default;
        &:hover {
            background-color: var(--hover-color);
        }
    }

    textarea {
        width: 100%;
        resize: none;
        overflow: hidden;
        text-align: right;
        outline: none;
        border: 1px solid black;
    }

    .name-container { position: relative; }

    .dropdown li {
        width: 100%;
        font-size: .6rem;
        padding: .1rem .2rem;
        flex: 1;
        text-align: right;

        &:hover {
            background-color: var(--hover-color);
        }
    }
}

.lens-indicator {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 1px solid #000;
    font-size: .8rem;
    font-weight: var(--font-heavy);
    letter-spacing: .04rem;
    padding: .1rem 0rem .1rem .8rem;
    min-width: 14rem;
    height: 2rem;

    overflow: visible;
    cursor: default;

    .lens-name-icon {
        height: 100%;
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
        align-items: center;
        padding: 0 .8rem 0 .3rem;

        &:hover{
            background-color: var(--hover-color);
        }
    }

    .icon-border {
        display: inline-flex;
        border: 1px solid #000;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 1.2rem;
        height: 1.2rem;
    }

    .dropdown li {
        width: 100%;
        min-width: 5rem;
        padding: .25rem .6rem;
        flex: 1;
        text-align: right;
        user-select: none;
        
        &:hover{
            background-color: var(--hover-color);
        }
    }
}

.periods-container {
    --l-padding: calc(6% - (var(--card-big-dim) - var(--card-small-dim)) / 2);

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 10rem var(--card-big-dim) var(--l-padding);
    min-height: 100vh;
    min-width: 110vw;
}

.period {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-width: var(--card-big-dim);
    // gap: 2rem;
}

.event {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    // gap: .8rem;
}

.dropdown {
    background-color: #fff;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;

    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    height: 0;
    
    border: 0px solid black;
    list-style: none;
    
    cursor: default;
}

.navbar .menu-icon:hover {
    color: #000;
    background-color: #fff; }


#notification {
    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    font-weight: var(--font-heavy);
    font-size: 1.1rem;
    letter-spacing: .02rem;
    border: 1px solid black;
    width: 70%;
    max-width: 50rem;
    text-align: center;
    background-color: #fff;
    z-index: 5;
    padding: .4rem 0;
    opacity: 0;
    display: none; }
    #notification i {
        position: absolute;
        left: 1rem;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1.3rem; }

#room-code-dismissable{
    position: absolute;
    background-color: #fff;
    bottom: 1rem;
    right: 1rem;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 10rem;
    height: 6rem;
    
    z-index: 100;
    strong {
        font-weight: (--font-heavy);
    }

    box-shadow: 3px 3px 3px #cccccc
}